<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.managefield">
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/field"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.example.managefield.main.MyApplication"
        >

        <activity
            android:name="com.example.managefield.auth.ActivityLogin"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.example.managefield.main.ActivityMainField"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        
<!--        <receiver-->
<!--            android:name=".main.FireBaseSyncReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="true" />-->
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>